<table id='company-info'>
<tr>
<td>
<%= image_tag "company.gif" %>
</td>
<td>
<p>
杭州东方网和科技有限公司是从事三网融合以及云宽带服务的技术创新企业，公司坐落在浙江大学国家大学科技园，得到了杭州市政府科技产业政策的支持。
</p>
<p>
公司致力于推动我国云计算行业的应用与发展，帮助云计算提供商的用户获得更好的云计算产品和应用体验，全力为不同层次的云计算产品和应用提供低成本、高收益的带宽服务，构建应用云端与用户端的桥梁，成为中国云带宽（IaaS）领域的服务商和推进者，为中国云计算行业的发展做出贡献。
</p>
</td>
</tr>
</table>
<h2>公司理念</h2>
<table>
<tr>
<td>
<%= image_tag "/images/index1.jpg", :width => "140", :height => "120" %>
</td>
<td>
<%= image_tag "/images/index2.jpg", :width => "140", :height => "120" %>
</td>
<td>
<%= image_tag "/images/index3.jpg", :width => "140", :height => "120" %>
</td>
<td>
<%= image_tag "/images/index4.jpg", :width => "140", :height => "120" %>
</td>
</tr>
</table>

